# Save Data
resources/savedata.txt
GridHuntersDB

# NetBeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Java
*.class
*.jar
*.war
*.ear

# Exception for Derby Library
!derby.jar
!derbyclient.jar
!derbynet.jar
!derbyoptionaltools.jar
!derbyrun.jar
!derbyshared.jar
!derbytools.jar

# Logs
derby.log
